PORT=your_port
MONGODB_URI=your_mongodb_uri
NODE_ENV=development

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRY=your_jwt_expiry
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRY=your_jwt_refresh_expiry

# BCRYPT
BCRYPT_SALT_ROUND=your_bcrypt_salt_round

# SUPER ADMIN
SUPER_ADMIN_EMAIL=your_super_admin_email
SUPER_ADMIN_PASSWORD=your_super_admin_password